
level/EHZ/Blocks/Blocks Orig.bin
level/EHZ/Blocks/Blocks Decompressed.bin
level/EHZ/Blocks/Blocks Wrong Flower Prio.bin
level/EHZ/Chunks/Primary Orig.bin
level/EHZ/Layout/1 Orig.bin
level/EHZ/Layout/1.bin
level/EHZ/Layout/2.bin
level/EHZ/Layout/S2.bin
level/EHZ/Object Art/Sonic 2 Spring Mappings Orig.bin
level/EHZ/Object Art/Sonic 2 Spring Mappings S2.bin
level/EHZ/Object Pos/1.bin
level/EHZ/Object Pos/S2.bin
level/EHZ/Object Pos/2.bin
level/EHZ/Palette/Palette DAGE 1.bin
level/EHZ/Ring Pos/2.bin
level/EHZ/Ring Pos/1.bin
level/EHZ/Ring Pos/S2.bin
level/EHZ/Tiles/Animation Scripts Orig.bin
rawdata/SKSS2 Uncompressed.bin
sprites/blue_spheres/Sonic2_rings.png
sprites/ehz/s2_flicky.png
sprites/hud/saturn/saturn_actnumbers full size.png
sprites/hud/saturn/saturn_hud full size.png
sprites/hud/saturn/saturn_hud old.png
sprites/hud/saturn/saturn_hud pre brighten.png
sprites/menu/challenges/bg_screenshots/EHZ_Classic.png
sprites/menu/challenges/Sonic3D_digits_tall 15px.png
sprites/menu/challenges/Sonic3D_digits_tall_rainbow 15px.png
sprites_WIP
*.bak
rawdata/SKSS1K Uncompressed.bin
